<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="layout :: linkrel">
</head>
<body>
  <div th:replace="layout::content"></div>
  <div class="container">
    <h2 style="text-align: center">Log in</h2>
    <form method="post" th:action="@{/login}" th:object="${user}">
      <div class="form-group">
        <label for="exampleInputUsername">Username</label>
        <input th:field="*{username}" type="text" class="form-control" id="exampleInputUsername" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword">Password</label>
        <input th:field="*{password}" type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
  </div>
  <th:block th:replace="layout::scripts"></th:block>

</body>
</html>