<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
    <link th:replace="layout::linkrel"/>
    <link rel="stylesheet" href="../css/orders.css"/>

</head>
<body>
  <div th:replace="layout::content"></div>
  <section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
            <div class="card-body p-5" th:object="${order}">

              <p class="lead fw-bold mb-5" style="color: #f37a27;">Purchase Reciept</p>

              <div class="row">
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Date</p>
                  <p th:text="${order.date}"></p>
                </div>
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Order No.</p>
                  <p th:text="${order.id}"></p>
                </div>
              </div>

              <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p>Price Per Room</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <span th:text="${order.price/order.quantity} + '€'"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p class="mb-0">Hotel rooms</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <p class="mb-0" th:text="${order.quantity}"></p>
                  </div>
                </div>
              </div>

              <div class="row my-4">
                <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                    <span class="lead fw-bold mb-0" style="color: #f37a27;" th:text="${order.price} + '€'"></span>
                </div>
              </div>

              <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Tracking Order</p>


              <p class="mt-4 pt-2 mb-0">Want any help? <a href="#!" style="color: #f37a27;">Please contact
                us</a></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <th:block th:replace="layout::scripts"></th:block>
</body>
</html>